<section class="grid">
    <div class="card">
        <img src="../assets/img/1.jpg" alt="">
        <div class="botones">
            <a href="#" class="boton btn-primary">Comprar</a>
            <a href="#" class="boton btn-success">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="../assets/img/2.jpg" alt="">
        <div class="botones">
            <a href="#" class="boton btn-primary">Comprar</a>
            <a href="#" class="boton btn-success">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="../assets/img/3.jpg" alt="">
        <div class="botones">
            <a href="#" class="boton btn-primary">Comprar</a>
            <a href="#" class="boton btn-success">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="../assets/img/4.jpg" alt="">
        <div class="botones">
            <a href="#" class="boton btn-primary">Comprar</a>
            <a href="#" class="boton btn-success">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="../assets/img/5.jpg" alt="">
        <div class="botones">
            <a href="#" class="boton btn-primary">Comprar</a>
            <a href="#" class="boton btn-success">Ver más</a>
        </div>
    </div>
    <div class="card">
        <img src="../assets/img/6.jpg" alt="">
        <div class="botones">
            <a href="#" class="boton btn-primary">Comprar</a>
            <a href="#" class="boton btn-success">Ver más</a>
        </div>
    </div>
</section>