<div class="col-xs-12">
    <div class="inputbox center-block">
        <h2>Random Password Generator</h2>
        <input type="text" name="" placeholder="Create secure password" id="password" readonly>
        <button class="btn_copy" onclick="copyClipboard()"><i class="far fa-clone"></i></button>
        <div id="btn" class="btn btn-success" onclick="generatePassword()"><i class="fas fa-cogs"></i> Generate Password</div>
    </div>
</div>