$black: #111111;
$white: #fefefe;
$darkGray: #222222;
$lightGray: #c8c8c8;
$hoverlightGray: #acabab;
$blue: #3e60e9;
$Hoverblue: #254be6;
$darkShadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
$lightShadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
$negro: #111111;
$blanco: #fefefe;
$grisOscuro: #222222;
$grisClaro: #c8c8c8;
$grisClaroHover: #acabab;
$azul: #3e60e9;
$azulHover: #254be6;
$sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);
$sombraLight: 10px 10px 20px rgba(0, 0, 0, 0.16);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-family: "Roboto", sans-serif;
    transition: 0.3s ease all;
    &.dark {
        background: $black;
    }
}

a {
    color: $darkGray;
    text-decoration: none;
    font-weight: 500;
}

.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

//----------------------------GENERATE PASSWORD -----------------------------------
.inputbox {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 450px;
}

.inputbox h2 {
    font-size: 28px;
    color: #333;
    body.dark & {
        color: white;
    }
}

.inputbox input {
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    background: #cdcdcd;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #333;
    body.dark & {
        background: $darkGray;
        color: $blanco;
    }
}

.inputbox input::placeholder {
    letter-spacing: 0px;
    color: $darkGray;
    body.dark & {
        color: $lightGray;
    }
}

.btn_copy {
    position: absolute;
    top: 75px;
    right: 15px;
    border: none;
    background: #cdcdcd;
    opacity: 0.4;
    body.dark & {
        background: $darkGray;
        color: $blanco;
    }
}

.btn_copy:hover {
    opacity: 1;
}

// ---------------------------END GENERATE PASSWORD--------------------------------
//----------------------------------NAV-----------------------------------------
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    transition: 0.5s ease all;
    box-shadow: $darkShadow;
    body.dark & {
        background: $darkGray;
        box-shadow: $lightShadow;
        a {
            color: $lightGray;
            &:hover {
                color: white;
            }
        }
    }
    .logotipo {
        font-weight: 700;
        font-family: "Roboto", sans-serif;
    }
    .enlaces {
        display: flex;
        align-items: center;
        a {
            margin-right: 40px;
            &:hover {
                color: #707070;
            }
        }
    }
}

nav #toggle-btn {
    body.dark & {
        color: $darkGray;
    }
}

//------------------------------------SWITCH------------------------------------
.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: 0.3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    &.active {
        background: orange;
        color: #000;
        &::after {
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}

// ----- ----- ----- ----- ----- GRID ----- ----- ----- ----- -----
.grid {
    display: grid;
    grid-gap: 40px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0;
    .card {
        background: $blanco;
        padding: 20px;
        border-radius: 5px;
        box-shadow: $sombraDark;
        display: flex;
        align-items: flex-end;
        position: relative;
        min-height: 195px;
        margin-top: 50px;
        transition: 0.3s ease all;
        body.dark & {
            background: $grisOscuro;
            box-shadow: $sombraLight;
        }
        img {
            vertical-align: top;
            border-radius: 7px;
            position: absolute;
            top: -50px;
            width: calc(100% - 40px);
            max-height: 165px;
            object-fit: cover;
        }
        .botones {
            width: 100%;
            margin-top: 120px;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
            .boton {
                padding: 10px;
                color: #fff;
                width: 100%;
                display: block;
                text-align: center;
                border-radius: 5px;
                transition: 0.3s ease all;
                &.primario {
                    &:hover {
                        background: $azulHover;
                    }
                }
                &.secundario {
                    ///background: $grisClaro;
                    background: green;
                    &:hover {
                        //background: $grisClaroHover;
                        background: greenyellow;
                    }
                }
            }
        }
    }
}

// ------------------------------------- POSTS ----------------------------------------
#simple_card {
    background: white;
    body.dark & {
        background: $darkGray;
        color: $lightGray;
    }
}

#text-title {
    color: $darkGray;
    a {
        color: $darkGray;
    }
    body.dark & {
        color: $grisClaro;
        a {
            color: $lightGray;
        }
    }
}

#custom_card {
    padding-bottom: 20px;
}

// ----------------------404 PAGE NOT FOUND -------------------------------
#container-box {
    margin-top: 30px;
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/src/assets/img/p404.png") #151729;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    body.dark & {
        background: url("/src/assets/img/p404.png") $darkGray;
        box-shadow: $lightShadow;
    }
}

#container-box .content {
    max-width: 600px;
    text-align: center;
}

#container-box .content h2 {
    font-size: 18vw;
    color: #fff;
    line-height: 1em;
}

#container-box .content h4 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
}

#container-box .content p {
    color: #fff;
    font-size: 1.2em;
}

#container-box .content a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #ff0562;
    color: #fff;
    text-decoration: none;
    margin-top: 3px;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56;
}